@import "tailwindcss";

@theme {
  --font-sans: 'Nunito', sans-serif;
  --font-serif: 'Comic Sans MS', 'Comic Sans', cursive;
  
  --color-kikko-dark: #141A0F;
  --color-kikko-terracotta: #C2410C;
}

html {
  scroll-behavior: smooth;
}
